*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Poppins', sans-serif;
}
img{
   width: 100%;
}
a{
   text-decoration: none;
}
p{
   font-size: 16px;
}

/* Utilities */
.w-45{
   width: 45%;
}
.f-left{
   float: left;
}
.f-right{
   float: right;
}
.clearFix::before{
   content: '';
   display: table;
   clear: both;
}
.container{
   max-width: 1320px;
   margin: auto;
}
/* Start Here */
.hero-area{
   background-image: url(image/top-banner.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 600px;

}
.hero-text{
   padding-top:50px;
}
.hero-text h1{
   font-size: 50px;
   font-weight: 600;
   line-height: 80px;
   margin-bottom: 20px;
}
.hero-text h1 span{
   color: #F87E63;
}
.hero-text h3{
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 20px;
}
.hero-text{
   color:dimgray;
}
.link-btn{
   display: inline-block;
   color: #fff;
   background: linear-gradient(45deg, lightsalmon, tomato);
   padding: 10px 40px;
   border-radius: 5px;
   margin-top: 20px;
}

.circle-shape {
   width: 130px;
   height: 130px;
   background: linear-gradient(111deg, rgba(30,204,218,1) 31%, rgba(57,153,246,1) 58%);
   border-radius: 50%;
   position: relative;
   top: -135px;
   left: 410px;
}